<div ng-controller="pxDatetimePickerCtrl as ctrl" style="font-size: 10pt;">
    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-datetime-picker/px-datetime-picker.html" rel="import" dcy-on-load load-handler="ctrl.whenPredixDatetimePickerLibraryLoaded();" >
    <px-datetime-picker id="{{ctrl.widgetID}}"></px-datetime-picker>
</div>